<div class="container">
  <div class="show-info">
    <div class="show-left">

      <!-- Hike Title info goes below -->
      <div class="show-title">
        <p><%= @hike.title %></p>
      </div>

      <!-- location and dates goes below -->
      <div class="d-flex" style="height: fit-content !important;">
        <div class="show-location">
          <i class="fa-solid fa-location-dot"></i>
          <br>
          <%= @hike.location %></p>
        </div>

        <div class="show-dates">
          <i class="fa-solid fa-calendar-days"></i>
          <br>
          <%= @hike.date %></p>
        </div>
      </div>

      <!-- row of tags goes below -->
      <div class="d-flex">
        <div class="show-tags">
          <i class="fa-solid fa-paw"></i>
          <i class="fa-solid fa-child"></i>
          <i class="fa-solid fa-carrot"></i>
        </div>
      </div>

      <!-- hike description text and button goes below -->
      <div class="show-description">
        <%= @hike.description %></p>
      </div>

      <div class="show-button-container">
        <div class="show-button">
          <p>request to join</p>
        </div>
      </div>

    </div>

    <!-- Map info goes below -->
    <div>
      <div class="show-right">
        <div class="show-map"
          data-controller="map"
          data-map-marker-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>


        <!-- image files go below -->
        <div class="show-images">
        </div>
    </div>
  </div>
</div>
