<div class="container">
  <div class="show-info">
    <div class="show-left">

      <!-- Hike Title info goes below -->
      <div class="show-title">
        <p><%= @hike.title %></p>
      </div>

      <!-- location and dates goes below -->
      <div class="d-flex" style="height: fit-content !important;">
        <div class="show-location">
          <i class="fa-solid fa-location-dot"></i>
          <br>
          <%= @hike.location %></p>
        </div>

        <div class="show-dates">
          <i class="fa-solid fa-calendar-days"></i>
          <br>
          <%= @hike.date %></p>
        </div>
      </div>

      <!-- row of tags goes below -->
      <%# <div class="d-flex">
        <div class="show-tags">
          <div class="icon-show">
            <i class="fa-solid fa-paw mx-1"></i>
            <i class="fa-solid fa-child mx-1"></i>
            <i class="fa-solid fa-mountain mx-1"></i>
          </div>
        </div>
      </div> %>

      <div class="d-flex">
        <div class="show-tags">
          <% if @hike.terrain == "mountains" %>
            <i class="fa-solid fa-mountain mx-1"></i>
          <% elsif @hike.terrain == "hills" %>
            <i class="fa-solid fa-mound mx-1"></i>
          <% elsif @hike.terrain == "flat" %>
            <i class="fa-solid fa-minus mx-1" title="flat"></i>
          <% end %>
          <% if @hike.buddy == "dog" %>
            <i class="fa-solid fa-paw mx-1" title="dog friendly"></i>
          <% end %>
          <% if @hike.buddy == "kid" %>
            <i class="fa-solid fa-paw mx-1" title="dog friendly"></i>
          <% end %>
          <% if @hike.buddy == "kid" %>
            <i class="fa-solid fa-child-reaching mx-1"></i>
          <% end %>
        </div>
      </div>

      <!-- hike description text and button goes below -->

      <div class="show-description">
        <%= @hike.description %></p>
      </div>

      <% if @hike.user_id != current_user.id %>
        <div class="show-button-container">
          <%= link_to "Request to join", new_hike_booking_path(@hike), class: "show-button" %>
        </div>
      <% end %>
      <%= link_to "Enter event chat", hike_chatroom_path(@hike, @chatroom), class: "show-button" %>

      <div class="d-flex justify-content-center">
      <%= link_to hikes_path do %>
        <p><i class="fa-solid fa-arrow-rotate-left" style="font-size: 20px;"></i> Back</p>
      <% end %>
      </div>

      <hr>
        <%# Pending events %>
      <div class="hike-name my-2">
        <h2 class="text-center mb-5">Requests</h2>
      </div>
      <%# <ul> %>
        <% @bookings.where(:status == "pending" || :status == "accepted").each do |booking| %>
          <%# <li> %>
          <% if booking.hike.user_id == current_user.id %>

          <p class="mx-4"><img class="avatar-request" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" /><%= booking.user.nickname %>
          <% if booking.status == "pending" %>
            <%= link_to "Accept request", hike_booking_path(booking.hike.id, booking, {status: "accepted"}),
                class: "delete-btn", data: {turbo_method: :patch} %>
            <%= link_to "Decline request", hike_booking_path(booking.hike.id, booking, {status: "rejected"}),
                class: "delete-btn", data: {turbo_method: :patch} %>
            <% else %>
              is joining the hike!! 🥳</p>
            <% end %>
          <% end %>
          <%# </li> %>
        <% end %>
      <%# </ul> %>
    </div>

    <!-- Map info goes below -->

      <div class="show-right">
        <div id="map" class="show-map"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>


        <!-- image files go below -->
        <div class="show-images">
        </div>

    </div>
  </div>
</div>
