<div class="container">
  <div class="show-info">
    <div class="show-left">

      <!-- Hike Title info goes below -->
      <div class="show-title">
        <p><%= @hike.title %></p>
      </div>

      <!-- location and dates goes below -->
      <div class="d-flex" style="height: fit-content !important;">
        <div class="show-location">
          <i class="fa-solid fa-location-dot"></i>
          <br>
          <%= @hike.location %></p>
        </div>

        <div class="show-dates">
          <i class="fa-solid fa-calendar-days"></i>
          <br>
          <%= @hike.date %></p>
        </div>
      </div>

      <!-- row of tags goes below -->
      <%# <div class="d-flex">
        <div class="show-tags">
          <div class="icon-show">
            <i class="fa-solid fa-paw mx-1"></i>
            <i class="fa-solid fa-child mx-1"></i>
            <i class="fa-solid fa-mountain mx-1"></i>
          </div>
        </div>
      </div> %>

      <div class="d-flex">
        <div class="show-tags">
          <% if @hike.terrain == "mountains" %>
            <i class="fa-solid fa-mountain mx-1"></i>
          <% elsif @hike.terrain == "hills" %>
            <i class="fa-solid fa-mound mx-1"></i>
          <% elsif @hike.terrain == "flat" %>
            <i class="fa-solid fa-minus mx-1" title="flat"></i>
          <% end %>
          <% if @hike.buddy == "dog" %>
            <i class="fa-solid fa-paw mx-1" title="dog friendly"></i>
          <% end %>
          <% if @hike.buddy == "kid" %>
            <i class="fa-solid fa-paw mx-1" title="dog friendly"></i>
          <% end %>
          <% if @hike.buddy == "kid" %>
            <i class="fa-solid fa-child-reaching mx-1"></i>
          <% end %>
        </div>
      </div>

      <!-- hike description text and button goes below -->

      <div class="show-description">
        <%= @hike.description %></p>
      </div>

      <div class="show-button-container">
        <%= link_to "Request to join", new_hike_booking_path(@hike), class: "show-button" %>
        <%= link_to "Enter event chat", hike_chatroom_path(@hike, @chatroom), class: "show-button" %>
      </div>

      <div class="back-link-container">
        <%= link_to :back do %>
          <p class="back-link"><i class="fa-solid fa-arrow-left"></i> Back</p>
        <% end %>
      </div>

    </div>

    <!-- Map info goes below -->

      <div class="show-right">
        <div id="map" class="show-map"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>


        <!-- image files go below -->
    <% if @hike.photos.present? %>
      <div id="carouselExampleIndicators" class="carousel slide w-auto h-100 col-12 col-lg-6" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <% (@hike.photos.count - 1).times do |n| %>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= n + 1 %>" aria-label="Slide 2"></button>
            <% end %>
          </div>
        <div class="carousel-inner rounded-4 carousel-shadow">
          <div class="carousel-item active">
            <%= cl_image_tag @hike.photos.first.key, class: "d-block w-100" %>
          </div>
          <% @hike.photos.drop(1).each do |photo| %>
            <div class="carousel-item">
              <%= cl_image_tag photo.key, class: "d-block w-100" %>
            </div>
          <% end %>
        </div>

        <button class="carousel-control-prev" class="carousel-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" class="carousel-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% else %>
      <div class="show-images"></div>
    <% end %>
</div>

    </div>
  </div>
</div>
