<div class="all-container">
  <div class="container-profile">
    <div class="profile-info row">
      <div class="profile-center col-sm">
        <!-- Name and last name -->
          <div class="profile-name">
            <h2><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}" %></h2>
            <% if @current_user.photo.present? %>
              <%= cl_image_tag @current_user.photo.key, class: "avatar-profile", style: "object-fit: cover", crop: :fill %>
            <% else %>
              <%# <img class="avatar-profile" alt="avatar" src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=6&m=1223671392&s=170667a&w=0&h=zP3l7WJinOFaGb2i1F4g8IS2ylw0FlIaa6x3tP9sebU="/> %>
            <% end %>
          </div>

        <!-- location and tag -->
        <div class="d-flex" style="font-size: 16px;">
          <div class="profile-hometown">
            <p><i class="fa-solid fa-location-dot"></i> <%= @user.location %> </p>
          </div>
        </div>

        <div class="d-flex" style="font-size: 16px;">
          <div class="profile-dog">
            <p><i class="fa-solid fa-paw"></i> Dog owner</p>
          </div>
        </div>
        <!--new push-->
        <!-- profile description -->
        <div class="profile-description">
          <% if @user.bio.present? %>
            <p> <%= @user.bio %> </p>
          <% else %>
            <p>Hi, I’m Katherine and I grew up in the heart of the Vallée de Joux in Switzerland. My family have always been interested in the great outdoors and have been especially passionate about hiking. We love to hike with animals. Lenny, my four-legged furry best buddy follows me on every adventure so I would love to meet other dog owners!</p>
          <% end %>
          <%#= link_to "edit", edit_user_registration(@user) %>
        </div>

        <div class="buttons justify-content-end">

          <%# <a href="https://naturescape-app.herokuapp.com/hikes/31/bookings/28/chatrooms/18" class="btn", id="profile-contact-btn">Edit profile</a> %>
          <%= link_to "Edit your profile", edit_user_registration_path, class: "btn", id: "profile-contact-btn" %>
          <%#=<i class="fa-solid fa-pen"></i>%>
        </div>
      </div>
    </div>
  </div>

  <%# Events you join %>
  <div class="hike-name my-5">
    <h2>Hikes you're joining</h2>
  </div>

    <div class="cards-profile">
      <% @my_bookings.each do |booking| %>
        <div class="item-card-profile mt-4">
          <% if booking.status == "pending" %>
            <%= image_tag "vdj.jpg", class: "card-img-top-pending" %>
          <% else %>
            <%= image_tag "vdj.jpg", class: "card-img-top" %>
          <% end %>
            <div class="item-details">
              <h2><%= link_to booking.hike.title, hike_path(booking.hike) %></h2>
              <p><i class="fa-solid fa-location-dot mr-5"></i> <%= booking.hike.location %></p>
              <% if booking.status == "pending" %>
                <h3>Request: <%= booking.status %></h3>
              <% else %>
                <h3><%= booking.hike.length %>km/day | <%= booking.hike.level %></h3>
              <% end %>
              <div class="hike-icons-profile">
                <i class="fa-solid fa-mountain" title="moutains"></i>
                <i class="fa-solid fa-paw mx-2" title="dog friendly"></i>
                <p><%= link_to "cancel booking", hike_booking_path(booking.hike.id, booking), class: "delete-btn-join",
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
              </div>
            </div>
        </div>
      <% end %>
      <div class="plus-button mt-4">
        <%= link_to hikes_path do %>
          <i class="fa-sharp fa-solid fa-circle-plus plus"></i>
        <% end %>
      </div>
    </div>


  <%# Events you organise %>
  <div class="hike-name my-5">
    <h2>Hikes you're hosting</h2>
  </div>
  <div class="cards-profile">
      <% @my_hikes.each do |my_hike| %>
        <div class="item-card-profile mt-4">
          <%= image_tag "vdj.jpg", class: "card-img-top" %>
          <div class="item-details">
            <h2><%= link_to my_hike.title, hike_path(my_hike) %></h2>
            <p><%= my_hike.location %></p>
            <h3><i class="fa-solid fa-location-dot mr-5"></i> 22km/day  |  intermediate</h3>
            <div class="hike-icons-profile">
              <i class="fa-solid fa-mountain" title="moutains"></i>
              <i class="fa-solid fa-paw mx-2" title="dog friendly"></i>
              <%= link_to "cancel event", hike_path(my_hike.id), class: "delete-btn",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="plus-button mt-4">
        <%= link_to new_hike_path do %>
          <i class="fa-sharp fa-solid fa-circle-plus plus"></i>
        <% end %>
      </div>
  </div>
  <br>
</div>
  <div class="back-link-container">
    <%= link_to :back do %>
      <p class="back-link"><i class="fa-solid fa-arrow-left"></i> Back </p>
    <% end %>
  </div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<div class="forest background-prop"></div>
